@model FacebookAutoPost.Models.AutoPost

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AutoPost</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAPI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAPI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frequency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frequency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApiKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApiKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uri)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
