<!DOCTYPE html>
<html>

@model IEnumerable<FacebookAutoPost.Models.AutoPost>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>

<h1>Auto Post List:</h1>

<p class="text-right">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAPI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostTemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApiKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uri)
            </th>
            <th>Change</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-break">
                @Html.DisplayFor(modelItem => item.PageId)
            </td>
            <td class="text-break">
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td class="text-break">
                @Html.DisplayFor(modelItem => item.UserAPI)
            </td>
            <td class="text-break">
                @Html.DisplayFor(modelItem => item.PostTemplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frequency)
            </td>
            <td class="text-break">
                @Html.DisplayFor(modelItem => item.ApiKey)
            </td>
            <td class="text-break">
                @Html.DisplayFor(modelItem => item.Uri)
            </td>
            <td class="align-middle text-center">
                <a asp-action="Edit" asp-route-id="@item.PageId" class="btn btn-info">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.PageId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>